<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"></head>
<body>
<header th:insert="~{fragments/menu.html :: menu}"></header>


<div class="container">
    <div class="post-header">
        <h3 class="post-title" th:text="${post.getTitle()}"></h3>
        <h5 th:text="${post.getDate() + ' Author: ' + post.getUserName()}"></h5>
    </div>
    <main class="post-main">
        <p th:utext="${post.getText()}"></p>
    </main>
    <br>
    <div class="text-end">
        <button class="btn btn-primary " type="button">
            <a th:href="@{/blog}">Back</a>
        </button>
    </div>

</div>

<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>