<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"></head>
<body>
<header th:insert="~{fragments/menu.html :: menu}"></header>

<div class="container" th:if="${message}">
    <h2 th:text="${message}"></h2>
</div>

<div class="container">
    <form th:action="@{/projects/add}" method="post" class="projectAddForm">
        <div class="mb-3">
            <label for="InputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="InputName" name="InputName" aria-describedby="nameHelp">
            <label id="nameHelp" class="form-text">Enter name</label>
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="InputDescription" name="InputDescription"></textarea>
        </div>
        <div class="mb-3">
            <label for="InputUtils" class="form-label">Utils</label>
            <input type="text" class="form-control" id="InputUtils" name="InputUtils" aria-describedby="utilsHelp">
            <label id="utilsHelp" class="form-text">Enter utils like: Name1, Name2, Name3 ...</label>
        </div>
        <div class="mb-3">
            <label for="InputLinks" class="form-label">Links</label>
            <textarea type="text" class="form-control" id="InputLinks" name="InputLinks"
                      aria-describedby="linksHelp"></textarea>
            <label id="linksHelp" class="form-text">Enter links like:
                linkToSite1, linkToImage1;
                linkToSite2, linkToImage2;
                ...
            </label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="inProgress" name="inProgress">
            <label class="form-check-label" for="inProgress">In Progress?</label>
        </div>
        <div class="error" th:if="${error}">
            <h5 th:text="${error}"></h5>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-secondary"><a th:href="@{/projects}">Back</a></button>
    </form>
</div>


<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>