<div aria-hidden="true" aria-labelledby="fileCreateModalLabel" class="modal fade" id="fileCreateModal" tabindex="-1"
           th:fragment="file">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="fileCreateModalLabel">Add new file</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" th:action="@{/settings/files/addFile}">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name: </label>
                        <input class="form-control" id="name" name="name" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="version">Version: </label>
                        <input class="form-control" id="version" name="version" type="number" placeholder="Example 0.1" step="any">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="file">File: </label>
                        <input class="form-control" id="file" name="file" type="file">
                    </div>
                    <div class="modal-footer">
                        <div th:if="${error}">
                            <h4 style="color: red" th:text="${error}"></h4>
                        </div>
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



