<div class="modal fade" id="userEditModal" tabindex="-1" aria-labelledby="userEditModalLabel" aria-hidden="true"
     th:fragment="userEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userEditModalLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/settings/userEdit}" method="post">
                    <div class="form-group" hidden="">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter name"
                               th:value="${user.getUsername}">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                               th:value="${user.getName}">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"
                               placeholder="Enter surname"
                               th:value="${user.getLastname}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description<span id="count">(1000)</span></label>
                        <textarea type="text" class="form-control" id="description" name="description"
                                  placeholder="Enter description"
                                  th:text="${user.getDescription}" maxlength="1000"></textarea>
                    </div>
                    <div class="form-group" hidden>
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
                               th:value="${user.getEmail}">
                    </div>
                    <div class="form-group" hidden>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Enter password"
                               th:value="${user.getPassword}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="logoEditModal" tabindex="-1" aria-labelledby="logoEditModalLabel" aria-hidden="true"
     th:fragment="logoEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="logoEditModalLabel">Add/Change logo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/settings/addLogo}" method="post" enctype="multipart/form-data">
                    <input type="file" name="logoFile" id="logoFile">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="projectEditModal" tabindex="-1" aria-labelledby="logoEditModalLabel" aria-hidden="true"
     th:fragment="logoEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="projectEditModalLabel">Add/Change logo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/settings/addProject}" method="post" enctype="multipart/form-data">
                    <input type="file" name="projectFile" id="projectFile">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>