<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"></head>

<body>
<header th:insert="~{fragments/menu.html :: menu}"></header>
<div class="container text-center">
    <button class="btn btn-primary"><a style="color: black" th:href="@{'/download?path=/'+ ${cvFilePath}}">Download CV</a></button>
    <p>
        <a th:href="@{'/' + ${cvFilePath}}"><img th:src="@{'/' + ${cvImagePath}}" alt="Cv Image" width="80%"></a>
    </p>
</div>

<footer th:insert="~{fragments/js :: js}"></footer>
</body>
</html>