<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"></head>

<body class="main">
<head th:replace="~{fragments/head :: head}"></head>
<header th:insert="~{fragments/menu.html :: menu}"></header>

<main class="d-flex align-items-center justify-content-center" style="height: 90vh;" th:if="${image}">
    <div class="row text-center" style="width: 90%">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-5">
            <img th:src="${image}" alt="user image" class="img-fluid rounded mx-auto d-block">
        </div>
        <div class="col align-self-center main">
            <h1 th:utext="${contentUser.getMainTitle()}"></h1>
            <p><h3 th:utext="${contentUser.getMainDescription()}"></h3></p>
            <div>
                <button class="btn btn-projects"><a href="/projects">Projects</a></button>
                <button class="btn btn-cv"><a href="/cv">My CV</a></button>
            </div>
        </div>
    </div>
</main>

<footer th:insert="~{fragments/js :: js}"></footer>
</body>
</html>