<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}"/>

<body>
<header th:insert="~{fragments/menu :: menu}"></header>

<div class="container mt-5 mb-5">
    <h1>Create post</h1>
    <form th:action="@{/templates/projects/add}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"  class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="description">Description <span id="count">(1000)</span></label>
            <p><textarea type="text" maxlength="1000" class="form-control" id="description" name="description" placeholder="Enter description"></textarea></p>
        </div>
        <div class="form-group">
            <label for="schemeText">Text to copy scheme (Optional)</label>
            <p><textarea type="text" class="form-control" id="schemeText" name="schemeText" placeholder="Enter description"></textarea></p>
        </div>
        <input type="file" name="logoFile" id="logoFile">
        <br>
        <div class="container">
            <div class="row">
                <button type="submit" value="Upload" class="btn btn-primary">Create</button>
                <a th:href="'/scheme'" class="btn btn-warning mt-1">Back</a>
            </div>
        </div>
    </form>
</div>

<script>
    const textarea = document.querySelector("#description");
    const count = document.querySelector("#count");

    textarea.addEventListener("input", function() {
        count.innerText = `(${1000 - textarea.value.length})`;
    });
</script>


<div th:insert="~{fragments/js :: js}"/>
</body>
</html>