<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head :: head}"/>
<body>
<head th:insert="~{fragments/menu :: menu}"/>


<!-- Edit Logo Modal Button trigger -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#logoEditModal">
    Edit logo
</button>
<!-- Edit User Modal Button trigger -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userEditModal">
    Edit user data
</button>
<!-- Edit CV Modal Button trigger -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cvEditModal">
    Edit CV
</button>

<!--  Edit User Modal -->
<div th:insert="~{fragments/settingsFragments :: userEdit}"/>
<!--  Edit Logo Modal -->
<div th:insert="~{fragments/settingsFragments :: logoEdit}"/>
<!--  Edit CV Modal -->
<div th:insert="~{fragments/settingsFragments :: cvEdit}"/>


<script>
    //Count characters in textarea
    const textarea = document.querySelector("#description");
    const count = document.querySelector("#count");

    textarea.addEventListener("input", function () {
        count.innerText = `(${1000 - textarea.value.length})`;
    });
</script>
<div th:insert="~{fragments/js :: js}"/>
</body>
</html>