body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-image: url("https://wallpapercave.com/wp/wp2757874.gif");


}

a {
    text-decoration: none;
}

/* Index page*/
.main h1 {
    font-size: 50px;
    color: #ffffff;
}

.main h3 {
    color: #E5E7EB;
}

.btn-cv {
    background-color: #F2363C;
}

.btn-projects {
    background-color: #374151;
}

.btn-cv, .btn-projects {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.btn-cv a, .btn-projects a {
    color: #ffffff;
    font-size: 30px;
}

.btn-projects a {
    color: #ffffff;
    font-size: 30px;
}

@media (max-width: 991px) {
    .main .image {
        /*margin-top: 30vh;*/
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 903px) {
    .main .image {
        /*margin-top: 30vh;*/
        height: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 477px) {
    .main .image {
        /*margin-top: 30vh;*/
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 385px) {
    .main .image {
        margin-top: 30vh;
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Projects Add*/
.projectAddForm label {
    color: #ffffff;
}

/* Projects*/
.project h1 {
    color: #E5E7E0;
}

.project h4 {
    color: #D1D5DB;
}

.project li {
    color: #9CA3AF;
    margin-left: 20px;
}

.project {
    margin: 20px;
    background-color: #1F2937;
    padding: 10px;
    border-radius: 10px;
}

.project ul {
    margin: 0;
    padding: 0;
}

.project li::marker {
    color: #EE3737;
}

.project_title {
    color: #E5E7E0;
    font-size: 30px;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1F2937;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: #171721 url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    /*background-color: #2196f3;*/
    background-color: #b5b3b3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
* Navbar
 */
.navbar {
    margin-bottom: 20px;
}

.navbar-toggler {
    background-color: #374151;
}

.dropdown-toggle::after {
color: #fff;
}

.menuName{
    color: #ffffff;
    /*font-family: 'Rampart One', cursive;*/
    font-size: 35px;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 1);
}

.nav-item a {
    color: #ffffff;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.navbar-collapse li {
    list-style: none;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
    /*font-family: 'Rubik Iso', cursive;*/
}


/*Scroll bar*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #171721;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f23634;
}

::-webkit-scrollbar-thumb:active {
    background: #f23634;
}

::-webkit-scrollbar-track {
    background: #171721;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #1e222c;
}

::-webkit-scrollbar-track:active {
    background: #1e222c;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
